{% extends 'base.html.twig' %}

{% block title %}Dépenses entre amis{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>A payer</th>
            <th>Reste a payer</th>
            <th>Doit recevoir</th>
            <th>Actions</th>
        </tr>

        {% for p in personnes %}
            <tr>
                <td>{{ p.nom }}</td>
                <td>{{ p.apayer }}</td>
                <td>{{ p.dette }}</td>
                <td>{{ p.arecevoir }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" onclick="return confirm('Etes vous sûr?')" href="">Voir en détails</a>
                    <a class="btn btn-sm btn-primary" href="">Modifier</a>
                    <a class="btn btn-sm btn-danger" href=""><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-sm btn-primary" href="">Ajouter une personne <i class="fas fa-plus-circle"></i></a>
{% endblock %}