{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajouter une persone</h1>
    {{ form(formulaire) }}

    <a class="btn btn-warning" href="{{ path("") }}"> retour à la liste</a>
{% endblock %}